@using MvcWepApp2.Models;
@model EgitmenDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">


    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <td>Egitmen Id</td>
                <td>Egitmen Ad</td>
                <td>Egitmen Soyad</td>
                <td>Sınıf Adı</td>
                <td>Sınıf Kodu</td>
                <td> <button class="btn btn-sm btn-secondary" id="btnEkleme" onclick="EklemeMenusuGoster()" title="Yeni ekle">+</button></td>
            </tr>
        </thead>
        <tbody>

            @using (Html.BeginForm("Ekle", "Educator", FormMethod.Post))
            {
                <tr id="eklemeMenusu" class="hidden">
                    <td></td>
                    <td>
                        <input class="form-control" name="egitmenAdi" />
                    </td>
                    <td>
                        <input class="form-control" name="egitmenSoyadi" />
                    </td>
                    <td>
                        <select class="form-control" name="sinifId">
                            <option value="0" selected></option>
                            @foreach (Sinif _sinif in Model.Siniflar)
                            {
                                <option value="@_sinif.Id">@_sinif.Adi</option>

                            }

                        </select>

                    </td>
                    <td><button class="btn btn-secondary">Kaydet</button></td>
                </tr>
            }

            @foreach (Egitmen _egitmen in Model.Egitmenler)
            {
                <tr>
                    <td>
                        @_egitmen.Id
                    </td>
                    <td>
                        @_egitmen.Ad
                    </td>
                    <td>
                        @_egitmen.Soyad
                    </td>
                    <td>
                        @_egitmen._Sinif.Adi
                    </td>
                    <td>
                        @_egitmen._Sinif.Kodu


                    </td>
                    <td>
                        <a href="/ProfileEducator/Index?Id=@_egitmen.Id" class="btn btn-sm btn-primary"><i class="fa fa-user-circle"></i></a>
                        <a href="#" class="btn btn-sm btn-danger" onclick="KullaniciSil('@_egitmen.Id')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function EklemeMenusuGoster() {

        if ($("#eklemeMenusu").attr("class") == 'hidden') {
            $("#eklemeMenusu").removeClass("hidden");
            $("#btnEkleme").html("X");
            $("#btnEkleme").removeClass("btn-secondary");
            $("#btnEkleme").addClass("btn-danger");
            $("#btnEkleme").attr("title", "Eklemeyi iptal");
        }
        else {
            $("#eklemeMenusu").addClass("hidden");
            $("#btnEkleme").html("+");
            $("#btnEkleme").removeClass("btn-danger");
            $("#btnEkleme").addClass("btn-secondary");
            $("#btnEkleme").attr("title", "Yeni ekle");
        }



    }

    function KullaniciSil(id) {
        Ajax('/Educator/Sil', "{ Id: " + id + " }", true);
       

    }


</script>

